header{
    background-color: black;
    padding: 20px;
}
.app-title{
    color: white;
    font-size: 25px;
    display: inline-block;
}
.app-record-list-menue{
    margin-left: 30%;
    color: white;
    font-size: 15px;
    display: inline-block;
}
.app-ranking-menue{
    margin-left: 5%;
    color: white;
    font-size: 15px;
    display: inline-block;
}
.app-team-list-menue{
    margin-left: 5%;
    color: white;
    font-size: 15px;
    display: inline-block;
}
.app-user-menue{
    margin-left: 5%;
    color: white;
    font-size: 15px;
    display: inline-block;
}
.app-logout-menue{
    margin-left: 5%;
    color: white;
    font-size: 15px;
    display: inline-block;
}
.profile_icon{
    display: inline-block;
    vertical-align: middle;

}