
.app-ranking-menue{
    color: white;
    font-size: 15px;
    display: inline-block;
}
.app-team-list-menue{
    margin-left: 5%;
    color: white;
    font-size: 15px;
    display: inline-block;
}

.app-user-menue{
    margin-left: 5%;
    color: white;
    font-size: 15px;
    display: inline-block;
}
.app-logout-menue{
    margin-left: 5%;
    color: white;
    font-size: 15px;
    display: inline-block;
}
.profile_icon{
    display: inline-block;
    vertical-align: middle;

}
.dropdown-menu.show{
    background: black;
    margin-top: 0px;
}   