.ranking_th {
  background-color:rgb(172, 169, 169);
  font-size: 10px;
  width: 5%;
}
.ranking_td {
  font-weight: normal;
  font-size: 20px;
}
.ranking_tr{
  background-color: rgb(232, 227, 227);
}
.ranking_table{
  width: 100%;
  text-align: center;
  height: 100vh;
}
.team_ranking{
    position: absolute;
    top: 20%;
    height: 100%;
    width: 800px;
}
.logo-picture{
    width: 50px; 
    height: 60px;
    height: auto;
    margin-top: 2%;
}
.team-name{
  margin-left: 10%;
  display:  inline-block; 
}
