.accordion-header .accordion-button:not(.collapsed) {
  background-color: white;
  color: black;
}
.card-img-top.record-image {
  width: 50%;
  margin: auto;
  display: block;
}
@media screen and (max-width: 481px) {
.card-img-top.record-image {
  width: 100%;
}
}