
body{
    margin: auto;
}
.content-list{
    background-color: #F5F5F5;
    width: 95%; 
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    padding-top: 30px;    
}
.team-logo{
    width: 50px;
    height: 50px;
}
.record{
  list-style:none;
  align-items: center; 
}
.record-list{
  border-collapse: separate;
  border-spacing: 20px 30px;
  height: 70vh;
}
.team-logo{
    text-align: center;
}
.pagination_box{
    text-align: center;
    background-color: #ffffff;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    margin-top: 30px;
}
.match-info{
    align-items: center;
    justify-content: center;
}
.home_team{
    width: 150px;
}
.away_team{
    width: 150px;
}