
body{
    margin: auto;
}
main{
    height: 850px;
}
.content-list{
    background-color: #F5F5F5;
    width: 80%; 
    height: 100%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    padding-top: 30px;    
}
.team-logo{
    width: 50px;
    height: 50px;
}
.record{
  list-style:none;
  align-items: center; 
}
.record-list{
  border-collapse: separate;
  border-spacing: 20px 30px;
}
.team-logo{
    text-align: center;
}
.pagination_box{
    text-align: center;
    background-color: #ffffff;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    margin-top: 30px;
}
.match-info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin-left: 100px;
}
.record-header{
    text-align: center;
}
.home_team{
    width: 150px;
}
.away_team{
    width: 150px;
}
.title{
   text-align: left;
}
.user-name{
    text-align: left;
}
.match-day{
    text-align: left;
}
main {
    height: 950px;
}